@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #ECF1F7;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

.main-form-container {
  width: 100%;

}

textarea:focus {
  border-radius: 0;
}

.progress-bar {
  transition: all 0.4s;
}

.submit-buttons-container {
  box-shadow: 0px -10px 10px 0px rgba(35, 66, 177, 0.10);
}

.photoshop-picker, .photoshop-picker > div {
  background: white !important;
}